AI Agents/My workflow 2 (3).json
{
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}\n",
        "options": {
          "systemMessage": "Siz foydali Telegram assistentsiz. O'zbek tilida javob bering.\nAgar foydalanuvchi kod so'rasa, to'liq ishlaydigan kodni yozing.\nKodni code block ichida ko'rsating."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        528,
        -32
      ],
      "id": "38a7f130-3fc2-4f29-894a-f2d4ce9bfd9e",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        960,
        -32
      ],
      "id": "507c8102-ddaa-4c74-983b-24f4e0ff3285",
      "name": "Send a text message",
      "webhookId": "95ee6b31-dee5-40dd-adca-9b2102e60135",
      "alwaysOutputData": false,
      "executeOnce": false,
      "retryOnFail": false,
      "credentials": {
        "telegramApi": {
          "id": "awZnzwhlj2GgahOA",
          "name": "Telegram account 3"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {
          "download": false,
          "chatIds": "",
          "userIds": ""
        }
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.3,
      "position": [
        144,
        -32
      ],
      "id": "b0f49c0e-f53b-49ac-8858-137dc170269c",
      "name": "Telegram Trigger",
      "webhookId": "90c6bbef-18b7-4058-86ca-a3856af8f604",
      "credentials": {
        "telegramApi": {
          "id": "awZnzwhlj2GgahOA",
          "name": "Telegram account 3"
        }
      }
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        432,
        192
      ],
      "id": "54b76aed-cd7b-4dc9-8c7d-5c6619e3d989",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "BdgyQuEdHSVvGcMf",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.4,
      "position": [
        576,
        192
      ],
      "id": "fcf28f2a-57af-41b8-a84e-20305bb89cd8",
      "name": "Simple Memory"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        720,
        192
      ],
      "id": "2abbb8b0-22c5-49d5-9ce1-418a486f3dc1",
      "name": "Calculator"
    }
  ],
  "pinData": {},
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "timezone": "Asia/Tashkent"
  },
  "versionId": "38a05c98-f4c2-43fe-9d3a-163289f102b1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e4104c439303f28eba3e7af22455a7327c0beee6514e9cceb2a2b55304c3a2c4"
  },
  "nodeGroups": [],
  "id": "aUze6k67Y9A3olMy",
  "tags": []
}